body{
    background-color: aqua;
}
.outer{
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: white;
    height: 500px;
    box-sizing: border-box;
    clip-path: polygon(0% 0%, 50% 0%, 50% 10%, 0% 10%);
    /* clip-path: polygon(0% 0%, 50% 0%, 50% 10%, 100% 10%, 100% 100%, 0% 100%); */
    z-index: 99;
}

.inner{
position: absolute;
top: 1%; /* equal to border thickness */
left: 1%; /* equal to border thickness */
width: 97%;
height: 95%;
background-color: #eff0f2;
clip-path: polygon(0% 0%, 50% 0%, 50% 10%, 0% 10%);
}

.active{
clip-path: polygon(0% 0%, 50% 0%, 50% 10%, 20% 10%, 15.00% 16.63%, 10% 10%, 0% 10%);
}

.hidden{
    /* display: none; */
    position: absolute;
    top: 63px;
    background-color: bisque;
    height: 86%;
    width: 98.5%;
    left: 6px;
    clip-path: polygon(0% 0%, 9.28% 0.00%, 14.96% 7.84%, 20.32% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.dropdown-active{
    clip-path: polygon(0% 0%, 50% 0%, 50% 10%, 100% 10%, 100% 100%, 0% 100%);
    }
